# API client for green fashion consumers to know animal ethical information of brands - web scrape data from public websites
website: https://goodonyou.eco/
The function provides a quick look at brandlists animal usage information, standards, and scores.
animal material ethical information include usage of fur, angora, down feather, shearling, karakul, exotic animal skin and hair, wool use including ‘mulesing’, and leather. Also check whether brands use these material align with standards.

skills:
Data Acquisition:
Import data from json.
Web scrape data from public websites.
Write an API client for an API and/or functions associated with API interaction.
Handle, parse, and transform JSON and XML.
Data Cleaning, Transformation, and Organization:
Use data wrangling to transform data into a dataframe ready for green consumers reference and analysis.
Use loops processes.
Use functions and functional programming to export repetitive or difficult tasks.
Handle and process strings and use regular expressions.
Documentation and Presentation:
Provide and document useful functions as part of a Python package.
capture error
Use Jupyter Notebook to generate a vignette on how to use your package functions.

## import package

In [1]:
pip install brandaniethical

Requirement already satisfied: brandaniethical in /opt/anaconda3/lib/python3.8/site-packages (0.1.0)
Requirement already satisfied: bs4<0.0.2,>=0.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from brandaniethical) (0.0.1)
Requirement already satisfied: requests<3.0.0,>=2.26.0 in /opt/anaconda3/lib/python3.8/site-packages (from brandaniethical) (2.26.0)
Requirement already satisfied: pandas<2.0.0,>=1.3.5 in /opt/anaconda3/lib/python3.8/site-packages (from brandaniethical) (1.3.5)
Requirement already satisfied: pytest<7.0.0,>=6.2.5 in /opt/anaconda3/lib/python3.8/site-packages (from brandaniethical) (6.2.5)
Requirement already satisfied: lxml<5.0.0,>=4.7.1 in /opt/anaconda3/lib/python3.8/site-packages (from brandaniethical) (4.7.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.8/site-packages (from bs4<0.0.2,>=0.0.1->brandaniethical) (4.9.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.0.0,>=1.3.5->brandaniethical) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.0.0,>=1.3.5->brandaniethical) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.0.0,>=1.3.5->brandaniethical) (2021.1)
Requirement already satisfied: iniconfig in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (1.1.1)
Requirement already satisfied: py>=1.8.2 in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (1.10.0)
Requirement already satisfied: toml in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (0.10.2)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (20.9)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (20.3.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /opt/anaconda3/lib/python3.8/site-packages (from pytest<7.0.0,>=6.2.5->brandaniethical) (0.13.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.3.5->brandaniethical) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->brandaniethical) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->brandaniethical) (2020.12.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->brandaniethical) (2.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->brandaniethical) (1.25.11)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->bs4<0.0.2,>=0.0.1->brandaniethical) (2.2.1)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from packaging->pytest<7.0.0,>=6.2.5->brandaniethical) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from brandaniethical import brandaniethical

# create vignettes - presentation demo (class of popular fashion brand)
I retrieve 6 popoluar footwear and apparel brands' tickers yahoo finance: https://finance.yahoo.com/screener/88f2ce8e-1a19-4f03-ad8f-95e8b2c9c0d1?offset=25&=25
create a class of brandbook for later presentation of features

In [6]:
class trendbrand():
    def __init__(self, name='', btype=''):
        self.name = name
        self.type = btype
    def __str__(self):
        return f"brand name: {self.name}; brand type: {self.type}\n"
    
b1 = trendbrand(name='NIKE', btype = 'footwear')
b2 = trendbrand(name='adidas', btype = 'footwear')
b3 = trendbrand(name='ASICS', btype = 'footwear')
b4 = trendbrand(name='cos', btype = 'apparel')
b5 = trendbrand(name='theory', btype = 'apparel')
b6 = trendbrand(name='lululemon', btype = 'apparel')

class Brandbook:
    def __init__(self):
        self.bb = []

    def add(self, trendbrand):
        self.bb.append(trendbrand)
        
    def __str__(self):
        temp = ""
        for fasbrand in self.bb:
            temp = temp + str(fasbrand.name) + "\n"
        return temp
    
    def get_type(self, brand_type):
        gettype=[]
        for fasbrand in self.bb:
            if brand_type==fasbrand.type:
                gettype.append(fasbrand.name)
        return gettype


#make brand book
bbook = Brandbook()
#add brands
b_list = [b1, b2, b3, b4, b5, b6]
for b in b_list:
    bbook.add(b)

In [7]:
def brandbag(brand_type):  
    return bbook.get_type(brand_type=brand_type)

In [8]:
footwearvig = brandbag('footwear')
apparelvig = brandbag('apparel')

In [4]:
brandaniethical.brandaniethical(['cos','theory','lululemon','nike', 'skechers'])

,company,animal_score,update,fur,angora,leather,wool,shearling,karakul,down,feather,exotic animal hair,exotic animal skin,down_RDS,wool_mulesing
0,cos,3/5,July 2020,0,0,1,1,0,0,1,0,1,0,1,1
1,theory,2/5,December 2019,0,0,1,1,0,0,1,0,1,0,0,0
2,lululemon,2/5,July 2020,0,0,1,1,0,0,1,0,1,0,1,0
3,nike,2/5,July 2020,0,0,1,1,0,0,1,0,1,0,0,0
4,skechers,2/5,August 2020,0,0,1,1,0,0,0,0,0,0,0,0

In [9]:
brandaniethical.brandaniethical(footwearvig)

,company,animal_score,update,fur,angora,leather,wool,shearling,karakul,down,feather,exotic animal hair,exotic animal skin,down_RDS,wool_mulesing
0,nike,2/5,July 2020,0,0,1,1,0,0,1,0,1,0,0,0
1,adidas,3/5,July 2020,0,0,1,1,0,0,0,0,1,0,0,1
2,asics,2/5,August 2020,0,0,1,1,0,0,1,0,1,0,0,1

In [10]:
brandaniethical.brandaniethical(apparelvig)

,company,animal_score,update,fur,angora,leather,wool,shearling,karakul,down,feather,exotic animal hair,exotic animal skin,down_RDS,wool_mulesing
0,cos,3/5,July 2020,0,0,1,1,0,0,1,0,1,0,1,1
1,theory,2/5,December 2019,0,0,1,1,0,0,1,0,1,0,0,0
2,lululemon,2/5,July 2020,0,0,1,1,0,0,1,0,1,0,1,0